{% extends "hermit_zola/templates/index.html" %}
{% import "mymacros.html" as macros %}

{% block title %}
<div id="spotlight" class="animated fadeIn">
  <div id="home-center">
	<h1 id="home-title">{{macros::fist()}}{{macros::fist()}}{{macros::fist()}}</h1>
	<p id="home-subtitle">{{config.extra.home_subtitle}}</p>
	<div id="home-social">
	  {{macros::render_social_icons()}}
	</div>
	{% endblock title %}

  {% block icon %}
  <link rel="icon" type="image/png" sizes="32x32" href="{{get_url(path="fist-32x32.png")}}" />
  <link
    rel="icon"
    type="image/png"
    sizes="16x16"
    href="{{get_url(path="favicon-16x16.png")}}"
  />
  <link
    rel="shortcut icon"
    href="{{get_url(path="fist.ico")}}"
  />
  {% endblock icon %}
